@using DreamLearning.Models
@using DreamLearning.Dto
@model TransData
@{
    ViewBag.Title = "Home Page";

    string key = System.Web.Configuration.WebConfigurationManager.AppSettings["googleMaps"];

}
    <div class="container-fluid h-100" style="position:relative; top: 50px; ">
        <div class="row mh-100">
            <div class="col-4 border-right p-2">
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline">
                            <div class="form-group w-75 pr-1">
                                <input type="search"
                                       class="form-control w-100"
                                       id="inputSearch"
                                       placeholder="Search">
                            </div>
                            <span id="btn-search" href="#" class="btn btn-info" style="font-size: 12px;">
                                <i class="fas fa-search-location">Busca</i>
                            </span>
                        </form>
                    </div>
                    <div class="col-12 h-100">
                        <ul id="addressList" class="list-group" style="max-height: 85vh; overflow: auto;"></ul>
                    </div>
                </div>
            </div>
            <div class="col-8 w-50 p-0 m-0">
                <div id="map" style="height: 500px; width:882px; background-color:rebeccapurple; color:azure; font-family:Verdana; font-size:30px" class="jumbotron-fluid w-100">Carregando ...</div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=@key&&libraries=places"></script>

        <script src="~/Scripts/jquery-3.3.1.js"></script>

        <div class="gcse-searchresults-only"></div>
        <script>

        let adrdresses = [];
        let points = [];
        let schools = [];

            let markers = [];
          //  let places = [];


            let  map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -30.030194684981844, lng: -51.22252230705834 },
                    zoom: 16
                });



            let input = document.getElementById("inputSearch");
            let go 

            let placesMaps = new google.maps.places.SearchBox(input)
            map.addListener('places_changed', function () {
                placesMaps.setBounds(map.getBounds())

            }); 
        




        </script>

    </div>
